*{
    margin: 0;
    padding: 0;
}
#contato{
    position: absolute;
    width: 100px;
    margin-top: 5px;
    margin-left: 50px;
    cursor: pointer;
}
#contato a{
    color: white;
    top: 5px;
}
#contato i {
    color: white;
}
#b_icone{
    float: right;
    background-color: #212121;
    border-style: none;
}
#navegador_superior{
    background-color: #212121;    
    height: 30px;
    position: relative;
}
#buscador{
    float: right;
    margin-right: 90px;
    margin-top: 4px;

}
#b_buscar{
    background-color: white;
    width: 30px;
    border-style: none;
    float: right;     
    margin-top: 1px;
    height: 18px;
    border-color:  #212121ff;   

}

#barra{
   border-color: white;
   border-style: none;
   height: 18px;
   width: 55px; 
   transition: width 0.5s;
   padding-left: 10px;
}
#barra:focus{
    width: 200px;
    outline: none;
}
#logo_im{
       float: left;
       width: 50px;    
       margin-left: 90px; 
}

#menu_bts{
    margin-top: 40px;
    float: right;
    display: block;
    margin-right:130px;
    margin-bottom: 30px;  
}
#bt1,#bt2,#bt3,#bt4,#bt5,#bt6,#bt7{
    border-style: none;
    background-color: white;
    font-size: 15px;
    margin-left: 20px; 
    cursor: pointer;
    outline: none;
    padding-bottom: 8px; 
}

#bt2,#bt3,#bt4,#bt5,#bt6,#bt7{
    color: #565252; 
}
#bt1:hover,#bt2:hover,#bt3:hover,#bt4:hover,#bt5:hover,#bt6:hover,#bt7:hover{
    
    border-bottom: 4px solid #212121;
}

#bt1{
    font-weight: bold;
    border-bottom-color: black;
}
#imagens{
    margin: auto;

}
#img1,#img2,#img3{ 
    position: absolute;
    z-index: -1;
    max-width: 80vw;
    margin-left: 52px;
}
.bolas{
    max-width: 70px;
    margin: auto;
    margin-top: 62vh;
}
.cir1,.cir2,.cir3{
    height: 11px;
    width: 11px;
    border-radius: 5px;
    border: solid;
    border: 3px;
    float: right;
    margin: 5px;
    cursor: pointer;
   
}
#slide_show{
    position: relative;
    top: 150px;
    margin: auto;
    right: 60px;
}
.cir3{
    background-color: grey;
}
.cir2,.cir1{
    background-color: lightgrey;
}
#b_esq,#b_dir{
    height: 45px;
    width: 45px;
    font-size: 22px;    
    border: none;
    cursor: pointer;  
    position: absolute;
    margin-top: 200px;
    box-shadow: -3px 0px 30px 1px #212121;
    outline:none;
    
}
#b_dir{
    
    border-bottom: 2px solid transparent;
    right: 10px;
}


#img2,#img3{
    display: none;

}
#parser{
    display: none;
}

#tabela_drivers{
    margin:auto;
    margin-top: 150px; 
    max-width: 150px;
}
#resultado{
    width: 250px;
}

#footer{
    background-color: #212121;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;     
    text-align: center;
    color: white;
}


