*{
    margin: 0;
    padding: 0;
}
#contato{
    position: absolute;
    width: 100px;
    margin-top: 5px;
    margin-left: 50px;
    cursor: pointer;
}
#contato a{
    color: #e5751f;
    top: 5px;
}
#contato i {
    color: #e5751f;
}
#b_icone{
    float: right;
    background-color: #403531;
    border-style: none;
}
#navegador_superior{
    background-color: #403531;    
    height: 30px;
    position: relative;
    box-shadow: 0px 2px 5px #888888;
}
#buscador{
    float: right;
    margin-right: 90px;
    margin-top: 4px;

}
#b_buscar{
    background-color: #e5751f;
    width: 30px;
    border-style: none;
    float: right;     
    margin-top: 1px;
    height: 18px;
    border-color:  #e5751f;   

}

#barra{
   border-color: #e5751f;
   border-style: none;
   height: 18px;
   width: 55px; 
   transition: width 0.5s;
   padding-left: 10px;
}
#barra:focus{
    width: 200px;
    outline: none;
    
}
#logo_im{
       float: left;
       width: 55px;    
       margin-left: 90px; 
}
#logo{
    height: 90px;
    margin-top: 10px;
}

#menu_bts a{
    color: #403531;
    style: none; 
}
#menu_bts{
    margin-top: 40px;
    float: right;
    display: block;
    margin-right:130px;
    margin-bottom: 30px;  
}
#bt1,#bt2,#bt3,#bt4,#bt5,#bt6,#bt7{
    border-style: none;
    background-color: white;
    font-size: 15px;
    margin-left: 20px; 
    cursor: pointer;
    outline: none;
    padding-bottom: 8px; 
}

#bt2,#bt3,#bt4,#bt5,#bt6,#bt7{
    color: #565252; 
}
#bt1:hover,#bt2:hover,#bt3:hover,#bt4:hover,#bt5:hover,#bt6:hover,#bt7:hover{
    
    border-bottom: 4px solid #e5751f;
}

#bt1{
    font-weight: bold;
    border-bottom-color: #403531;
}
#imagens{
    margin: auto;

}
#img1,#img2,#img3{ 
    position: absolute;
    z-index: -1;
    max-width: 80vw;
    margin-left: 52px;
    border: 2px solid #e5751f;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888888;
}
.bolas{
    max-width: 70px;
    margin: auto;
    margin-top: 62vh;
}
.cir1,.cir2,.cir3{
    height: 11px;
    width: 11px;
    border-radius: 5px;
    border: solid;
    border: 3px;
    float: right;
    margin: 5px;
    cursor: pointer;
    margin-top: 60%;
}
#slide_show{
    position: relative;
    top: 150px;
    margin: auto;
    right: 60px;
    
}

.cir3{
    background-color: #403531;
}
.cir2,.cir1{
    background-color: #A99188;
}
#b_esq,#b_dir{
    height: 45px;
    width: 45px;
    font-size: 22px;    
    border-radius: 22px;
    border-bottom:  solid;
    color: #e5751f;
    background-color: #403531;
    cursor: pointer;  
    position: absolute;
    margin-top: 200px;
    
    outline:none;
    
}
#b_dir{
    
    border-bottom: 2px solid transparent;
    right: 10px;
}


#img2,#img3{
    display: none;

}
#parser{
    display: none;
}

#tabela_drivers{
    margin:auto;
    margin-top: 150px; 
    max-width: 150px;
}
#resultado{
    width: 250px;
}

#footer{
    background-color: #403531;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px -2px 5px #888888;
    text-align: center;
    color: white;
}


