*{
    margin: 0;
    padding: 0;
}

#navegador_superior{
    background-color: #212121;    
    height: 30px;

}
#buscador{
    float: right;
    margin-right: 90px;
    margin-top: 4px;

}
#b_buscar{
    background-color: white;
    width: 30px;
    border-style: none;
    float: right;     
    margin-top: 1px;
    height: 18px;
    border-color:  #212121ff;   

}

#barra{
   border-color: white;
   border-style: none;
   height: 18px;
   width: 40px; 
   transition: width 1s;
   padding-left: 10px;
}
#barra:focus{
    width: 200px;
    outline: none;
}
#logo_im{
       float: left;
       width: 50px;    
       margin-left: 90px; 
}

#menu_bts{
    margin-top: 40px;
    float: right;
    display: block;
    margin-right:190px;
    margin-bottom: 30px;  
}
#bt1,#bt2,#bt3,#bt4,#bt5,#bt6,#bt7{
    border-style: none;
    background-color: white;
    font-size: 15px;
    margin-left: 60px; 
    cursor: pointer;
    outline: none;
    padding-bottom: 8px; 
}

#bt2,#bt3,#bt4,#bt5,#bt6,#bt7{
    color: #565252; 
}
#bt1:hover,#bt2:hover,#bt3:hover,#bt4:hover,#bt5:hover,#bt6:hover,#bt7:hover{
    
    border-bottom: 4px solid #212121;
}

#bt1{
    font-weight: bold;
    border-bottom-color: black;
}
#imagens{
    margin: auto;

}
#img1,#img2,#img3{ 
    position: absolute;
    z-index: -1;
 
}
.bolas{
    margin-right: 600px;
    margin-top: 20px;

}
.cir1,.cir2,.cir3{
    height: 11px;
    width: 11px;
    border-radius: 5px;
    border: solid;
    border: 3px;
    float: right;
    margin: 5px;
    cursor: pointer;
    display: fixed;
    margin-top: 630px;
      
}
#slide_show{
    position: relative;
<<<<<<< HEAD
    top: 100px;
    right: 110px;
    height: 200px;
    background-color: red;
=======
>>>>>>> 68b1c8f60283f2e61c94f0dc2c0d606b1387f852
}
.cir3{
    background-color: grey;
}
.cir2,.cir1{
    background-color: lightgrey;
}
#b_esq,#b_dir{
    height: 45px;
    width: 45px;
    font-size: 22px;    
    border: none;
    margin-top: 130px;
    cursor: pointer;  
    position: absolute;
    margin-top: 300px;
    box-shadow: -3px 0px 30px 1px #212121;
    outline:none;
}
#b_dir{
    margin-left: 960px;
    border-bottom: 2px solid transparent;

}


#img2,#img3{
    display: none;

}
#footer{
    background-color: #212121;
<<<<<<< HEAD
    margin-top: 604px;
    height: 62px;
}
=======
    margin-top: 788px;
    height: 82px;
}
>>>>>>> 68b1c8f60283f2e61c94f0dc2c0d606b1387f852
